{% extends 'base.html' %}
{% load static %} 
{% load humanize %} 
{% block title %}Home{% endblock %}

{% block content %}
<div class="row" style="margin-top: 30px;">
    <!-- Categories Sidebar -->
    <div class="col-md-3">
        <ul class="list-group">
            <li class="list-group-item">
                <a href="#" class="category-link" data-category-id="all">All</a>
            </li>
            {% for category in categories %}
                <li class="list-group-item">
                    <!-- <i class="fa-sharp fa-solid fa-tablets"></i> -->
                    <a href="#" class="category-link" data-category-id="{{ category.cateId }}">{{ category.cateName }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>

    <!-- Medicines List -->
    <div class="col-md-9">
        <div id="medicines-container" class="row">
            {% for medicine in medicines %}
                <div class="card mb-3 col-md-4" data-category-id="{{ medicine.cateId }}" style="margin-right: 0;">
                    <a href="{% url 'medicine_detail' medicine.medId %}">
                        <img src="{{ medicine.medPicture }}" class="card-img-top" alt="{{ medicine.medName }}" style="margin-top: 10px; width: 250px; height: 150px;">
                    </a>
                    <div class="card-body">
                        <h5 class="card-title">
                            <a href="{% url 'medicine_detail' medicine.medId %}">{{ medicine.medName }}</a>
                        </h5>
                        <!-- <p class="card-text">{{ medicine.medDesc }}</p> -->
                        <p class="card-text">Price: {{ medicine.medPrice|floatformat:"0"|intcomma }}₫</p>
                        <!-- <p class="card-text">Remaining: {{ medicine.medRemain }}</p> -->
                        {% if user.is_authenticated %}
                        {% if request.session.role != 'Admin' and request.session.role != 'Phar' %}
                        <form method="post" action="{% url 'add_to_cart_from_medicine' %}">
                            {% csrf_token %}
                            <input type="hidden" name="med_id" value="{{ medicine.medId }}">
                            <button type="submit" class="btn btn-primary">Add to Cart</button>
                        </form>
                        {% endif %}
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% include 'footer.html' %}
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const categoryLinks = document.querySelectorAll('.category-link');
        const medicinesContainer = document.getElementById('medicines-container');
        const allMedicines = medicinesContainer.querySelectorAll('.card');

        categoryLinks.forEach(link => {
            link.addEventListener('click', function (event) {
                event.preventDefault();
                const categoryId = this.getAttribute('data-category-id');
                
                allMedicines.forEach(medicine => {
                    if (categoryId === 'all' || medicine.getAttribute('data-category-id') === categoryId) {
                        medicine.style.display = 'block';
                    } else {
                        medicine.style.display = 'none';
                    }
                });
            });
        });
    });
</script>
{% endblock %}
