{% extends 'base.html' %}
{% load humanize %}

{% block content %}
    <style>
        .order-container {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
            gap: 15px;
        }

        .order-box {
            border: 1px solid #ddd;
            padding: 15px;
            border-radius: 5px;
            background-color: #f9f9f9;
        }

        .order-header {
            cursor: pointer;
        }

        .order-details {
            display: none;
            margin-top: 10px;
        }

        .order-details ul {
            list-style-type: none;
            padding: 0;
        }

        .order-details li {
            margin-bottom: 10px;
        }

        .total-price {
            font-weight: bold;
        }
    </style>

    <script>
        function toggleDetails(orderId) {
            var details = document.getElementById('details-' + orderId);
            if (details.style.display === 'none' || details.style.display === '') {
                details.style.display = 'block';
            } else {
                details.style.display = 'none';
            }
        }
    </script>

    <h1>Your Orders</h1>

    <ul class="nav nav-tabs" id="orderTabs" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="placed-tab" data-bs-toggle="tab" href="#placed" role="tab" aria-controls="placed" aria-selected="true">Placed</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="processing-tab" data-bs-toggle="tab" href="#processing" role="tab" aria-controls="processing" aria-selected="false">Processing</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="shipped-tab" data-bs-toggle="tab" href="#shipped" role="tab" aria-controls="shipped" aria-selected="false">Shipped</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="delivered-tab" data-bs-toggle="tab" href="#delivered" role="tab" aria-controls="delivered" aria-selected="false">Delivered</a>
        </li>
    </ul>

    <div class="tab-content" id="orderTabsContent">
        <div class="tab-pane fade show active" id="placed" role="tabpanel" aria-labelledby="placed-tab">
            <div class="order-container">
                {% for order in orders %}
                    {% if order.os.osDesc == 'Order Placed' %}
                        <div class="order-box">
                            <div class="order-header" onclick="toggleDetails('{{ order.orderId }}')">
                                <h2>Order ID: {{ order.orderId }}</h2>
                                <p>Status: {{ order.os.osDesc }}</p>
                                <p>Placed At: {{ order.orderPlacedAt|date:"H:i d/m/Y"  }}</p>
                                <p>Delivered At: {{ order.orderDeliveredAt }}</p>
                                <p class="total-price">Total Price: {{ order.totalPrice|floatformat:"0"|intcomma }}</p>
                            </div>
                            <div class="order-details" id="details-{{ order.orderId }}">
                                <h3>Items:</h3>
                                <ul>
                                    {% for item in order.orderItems %}
                                        <li>
                                            <p>Medicine: {{ item.med.medName }}</p>
                                            <p>Quantity: {{ item.itemQuantity }}</p>
                                            <p>Price: {{ item.med.medPrice|floatformat:"0"|intcomma }}</p>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="tab-pane fade" id="processing" role="tabpanel" aria-labelledby="processing-tab">
            <div class="order-container">
                {% for order in orders %}
                    {% if order.os.osDesc == 'Processing' %}
                        <div class="order-box">
                            <div class="order-header" onclick="toggleDetails('{{ order.orderId }}')">
                                <h2>Order ID: {{ order.orderId }}</h2>
                                <p>Status: {{ order.os.osDesc }}</p>
                                <p>Placed At: {{ order.orderPlacedAt|date:"H:i d/m/Y"   }}</p>
                                <p>Delivered At: {{ order.orderDeliveredAt|date:"H:i d/m/Y"   }}</p>
                                <p class="total-price">Total Price: {{ order.totalPrice|floatformat:"0"|intcomma }}</p>
                            </div>
                            <div class="order-details" id="details-{{ order.orderId }}">
                                <h3>Items:</h3>
                                <ul>
                                    {% for item in order.orderItems %}
                                        <li>
                                            <p>Medicine: {{ item.med.medName }}</p>
                                            <p>Quantity: {{ item.itemQuantity }}</p>
                                            <p>Price: {{ item.med.medPrice|floatformat:"0"|intcomma }}</p>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="tab-pane fade" id="shipped" role="tabpanel" aria-labelledby="shipped-tab">
            <div class="order-container">
                {% for order in orders %}
                    {% if order.os.osDesc == 'Shipped' %}
                        <div class="order-box">
                            <div class="order-header" onclick="toggleDetails('{{ order.orderId }}')">
                                <h2>Order ID: {{ order.orderId }}</h2>
                                <p>Status: {{ order.os.osDesc }}</p>
                                <p>Placed At: {{ order.orderPlacedAt |date:"H:i d/m/Y"  }}</p>
                                <p>Delivered At: {{ order.orderDeliveredAt|date:"H:i d/m/Y"   }}</p>
                                <p class="total-price">Total Price: {{ order.totalPrice|floatformat:"0"|intcomma }}</p>
                            </div>
                            <div class="order-details" id="details-{{ order.orderId }}">
                                <h3>Items:</h3>
                                <ul>
                                    {% for item in order.orderItems %}
                                        <li>
                                            <p>Medicine: {{ item.med.medName }}</p>
                                            <p>Quantity: {{ item.itemQuantity }}</p>
                                            <p>Price: {{ item.med.medPrice|floatformat:"0"|intcomma }}</p>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="tab-pane fade" id="delivered" role="tabpanel" aria-labelledby="delivered-tab">
            <div class="order-container">
                {% for order in orders %}
                    {% if order.os.osDesc == 'Delivered' %}
                        <div class="order-box">
                            <div class="order-header" onclick="toggleDetails('{{ order.orderId }}')">
                                <h2>Order ID: {{ order.orderId }}</h2>
                                <p>Status: {{ order.os.osDesc }}</p>
                                <p>Placed At: {{ order.orderPlacedAt|date:"H:i d/m/Y"   }}</p>
                                <p>Delivered At: {{ order.orderDeliveredAt|date:"H:i d/m/Y" }}</p>
                                <p class="total-price">Total Price: {{ order.totalPrice|floatformat:"0"|intcomma }}</p>
                            </div>
                            <div class="order-details" id="details-{{ order.orderId }}">
                                <h3>Items:</h3>
                                <ul>
                                    {% for item in order.orderItems %}
                                        <li>
                                            <p>Medicine: {{ item.med.medName }}</p>
                                            <p>Quantity: {{ item.itemQuantity }}</p>
                                            <p>Price: {{ item.med.medPrice|floatformat:"0"|intcomma }}</p>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>

    <!-- Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"></script>
{% endblock %}
